---
import DeferredSection from 'src/components/server/app/DeferredSection.astro';
import ChannelsApp from 'src/components/server/ChannelApp/ChannelsApp.astro';
import BackgroundPoster from 'src/components/server/ui/BackgroundPoster.astro';
import FrontpageFabs from 'src/components/svelte/frontpage/FrontpageFabs.svelte';
import Page from 'src/layouts/Page.astro';
import { t } from 'src/utils/i18n';

const title = `${t('app:shortname')} - ${t('threads:forum.title')}`;
const description = t('threads:forum.description');
---
<Page title={title} description={description}>

  <ChannelsApp server:defer>
    <DeferredSection class="column-l" noun="discussion" slot="fallback"/>
  </ChannelsApp>

  <FrontpageFabs client:only="svelte" slot="fab-tray"/>

  <BackgroundPoster
      slot="app-background-poster"
      src="/myrrys-proprietary/juno-viinikka/juno-viinikka-dragon-2.webp"
      md="/myrrys-proprietary/juno-viinikka/juno-viinikka-dragon-2-960.webp"
    />
  
  <p class="text-caption text-center" style="opacity:0.44" slot="app-footer-credits">
    Taustakuva © Juno Viinikka (<a href="https://linktr.ee/junowski">https://linktr.ee/junowski</a>)
  </p>
</Page>