---
import SettingsAppT from '@svelte/settings/SettingsApp.svelte';
import { t } from '@utils/i18n';
import Page from 'src/layouts/Page.astro';

/* A server side rendered login page: we only provide client side session, as all
 * reactive/interactive elements are handled by the client side solid apps.
 */
const title = `${t('app:shortname')} - ${t('app:settings.title')}`;
const description = t('settings:description');
const debug = import.meta.env.SECRET_FEATURE_FLAG_DEBUG === 'true';
---
<Page title={title} description={description}>
  <SettingsAppT client:only="svelte"/>
  <div>{debug && <span>DEBUG MODE ACTIVE</span>}</div>
</Page>