---
import SiteListColumn from 'src/components/server/SiteList/SiteListColumn.astro';
import Page from 'src/layouts/Page.astro';
import { t } from 'src/utils/i18n';
---
<Page title={t('site:siteList.title')}>
  <div class="content-columns">
    <SiteListColumn />
  </div>
</Page>