---
import { t } from 'src/utils/i18n';
import SiteListColumn from '../../components/server/SiteList/SiteListColumn.astro';
import Page from '../../layouts/Page.astro';
---
<Page title={t('site:siteList.title')}>
  <div class="content-columns">
    <SiteListColumn />
  </div>
</Page>