---
import PageWithTray from '@layouts/PageWithTray.astro';
import LibraryTray from '@server/library/LibraryTray.astro';
import BackgroundPoster from '@server/ui/BackgroundPoster.astro';
import LibrarySitesFabs from '@svelte/site-library/LibrarySitesFabs.svelte';
import UserSitesList from '@svelte/site-library/UserSitesList.svelte';
import { t } from '@utils/i18n';

const title = `${t('app:shortname')} – ${t('library:title')}`;
const shortTitle = t('library:title');
const description = t('library:description');
---

<PageWithTray title={title} description={description} shortTitle={shortTitle}>
  <LibraryTray slot="app-tray" />
  <UserSitesList client:only="svelte" />
  <LibrarySitesFabs slot="fab-tray" client:only="svelte"/>
  <BackgroundPoster
      slot="app-background-poster"
      src="/myrrys-proprietary/juno-viinikka/juno-viinikka-dragon-2.webp"
      md="/myrrys-proprietary/juno-viinikka/juno-viinikka-dragon-2-960.webp"
    />
    <p class="text-caption text-center" style="opacity:0.44" slot="app-footer-credits">
      Taustakuva © Juno Viinikka (<a href="https://linktr.ee/junowski">https://linktr.ee/junowski</a>)
    </p>
</PageWithTray>