---
import type { Channel } from '@schemas/ChannelSchema';
import { t } from '@utils/i18n';

interface Props {
  channel: Channel;
  startAt: number;
}

const { channel, startAt } = Astro.props;

const pages = Math.ceil((channel.threadCount || 0) / 10);
const currentPage = startAt < 1 ? 1 : startAt > pages ? pages : startAt;
---
<section class="column-s flex-col items-center surface p-2">
  <cn-icon noun={channel.icon} large />
  <h2 class="downscaled m-0 full-width">{channel.name}</h2>
  <p class="my-0 full-width">
    {t('threads:channel.threadCount', {count: channel.threadCount})}<br />
    {t('threads:channel.pageCount', {count: pages, current: currentPage})}
  </p>
  {channel.description && <p class="text-small">{channel.description}</p>}
</section>