---
import type { Channel } from 'src/schemas/ChannelSchema';
import ForumOnboardingArticle from '../../svelte/threads/ForumOnboardingArticle.svelte';
import ChannelInfoRow from './ChannelInfoRow.astro';

/**
 * Takes in Channels[] and prints a section for each category
 * */
interface Props {
  channels: Channel[];
}

const { channels } = Astro.props;

function categories(): string[] {
  return Array.from(
    new Set(channels.map((channel: Channel) => channel.category)),
  ) as string[];
}

function inCategory(cat: string) {
  return channels.filter((channel: Channel) => channel.category === cat);
}
---
{ categories().map((cat: string) => (
  <section class="content-listing">
    <header class="surface elevation-1">
      <h2 class="text-h4 m-0">{cat}</h2>
    </header>
    <div class="listing-items">
      { inCategory(cat).map((channel: Channel) => (
        <ChannelInfoRow channel={channel} />
      )) }
    </div>
  </section>
))}
