main .flex-row > .flex-none {
  flex: none;
}

/* Text alignment atomic class */
.text-end {
  text-align: end;
}

kbd {
  font-family: var(--cn-font-family-monospace);
  color: var(--color-text-high);
}
label:has(select) {
  flex-grow: 0;
  width: auto;
}
label select {
  width: auto;
}
ol.breadcrumbs {
  display: flex;
  gap: var(--cn-grid);
  margin: 0;
}
ol.breadcrumbs li + li::before {
  content: "››";
  color: var(--color-text-low);
  padding-right: var(--cn-grid);
}
ol.breadcrumbs li {
  margin: 0;
  padding: 0;
}
