main .flex-row > .flex-none {
  flex: none;
}

/* Text alignment atomic class */
.text-end {
  text-align: end;
}

kbd {
  font-family: var(--cn-font-family-monospace);
  color: var(--color-text-high);
}
