---
import BaseTail from '@server/BaseTail.astro';
import AppBar from 'src/components/server/AppBar.astro';
import AppRail from 'src/components/server/AppRail.astro';
import BaseHead from '../components/server/BaseHead/BaseHead.astro';

const { title, shortTitle } = Astro.props;
---

<html lang="fi">
  <BaseHead title={title} />
  <body>
    <AppBar title={title} shortTitle={shortTitle} modal>
      <slot name="app-bar" />
    </AppBar>
    <AppRail />
	  <main>
      <slot />
    </main>
    <nav id="fab-tray">
      <slot name="fab-tray"></slot>
    </nav>
    <BaseTail />
  </body>
</html>
